<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <p>Data de publicação: {{postagem.data}}</p>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>